Repository odpi/egeria-connector-integration-event-schema, changes with the owners that CODEOWNERS names for each.
All owners: @davidradl, @planetf1, @juergenhemelt

#24 Add docker image build to ci/cd
  .github/workflows/merge.yml
  .github/workflows/release.yml
  .github/workflows/verify.yml
  Dockerfile
Owners: @planetf1, @davidradl

#24 fix sonatype warning on WORKDIR
  Dockerfile
Owners: @davidradl

#24 Update versioning approach for container image
  .github/workflows/merge.yml
  .github/workflows/release.yml
  Dockerfile
Owners: @planetf1, @davidradl

#24 Pin docker build context for ci/cd workflow
  .github/workflows/merge.yml
  .github/workflows/release.yml
  Dockerfile
Owners: @planetf1, @davidradl

#24 Add docker support for dependabot
  .github/dependabot.yml
  gradle/wrapper/gradle-wrapper.properties
Owners: @planetf1

Fix #24 - fixes to docker build
  .github/workflows/merge.yml
  .github/workflows/release.yml
  Dockerfile
  gradle.properties
Owners: @planetf1, @davidradl, @juergenhemelt

Update dependabot.yml
  .github/dependabot.yml
Owners: @planetf1

Update dependabot.yml
  .github/dependabot.yml
Owners: @planetf1

Fixed indentation + Egeria 3.15
  build.gradle
Owners: @juergenhemelt

Fixed indentation + Egeria 3.15
  .github/dependabot.yml
  src/test/java/org/odpi/openmetadata/adapters/connectors/integration/eventschema/ConfluentConnectorTest.java
Owners: @planetf1, @juergenhemelt

Fix egeria version parsing
  .github/workflows/merge.yml
  .github/workflows/release.yml
Owners: @planetf1

postman collection for configuration
  postman/event-schema-integration-connector.postman_collection.json
Owners: none

README.md changed
  README.md
Owners: @davidradl

CODEOWNERS:

# SPDX-License-Identifier: Apache-2.0
# Copyright Contributors to the Egeria project.

# Code ownership for Egeria - see https://help.github.com/articles/about-codeowners/
# Note that the LAST matching pattern will be effective so please more generic paths towards the top

# Top level

# TODO: Update with new owners of files added
/* @davidradl
/.github @planetf1
*.gradle @planetf1
gradle* @planetf1
gradle/ @planetf1
SECURITY.md @planetf1
src/ @juergenhemelt
build.gradle @juergenhemelt
gradle.properties @juergenhemelt
